* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, purple, #00d4ff);
}
#container {
    background-color: white;
    margin-top: 80px;
    width: 550px;
    border-radius: 20px;
    text-align: center;
    min-height: 600px;
    padding: 30px;
}
#container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
input {
    height: 40px;
    width: 250px;
    border-radius: 20px;
    border: solid black 1px;
    padding-left: 20px;
}
button {
    background-color: orange;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 15pt;
    border-radius: 30px;
    border: solid black 1px;
}
button:hover {
    cursor: pointer;
    background-color: green;
}
p { 
    padding-top: 20px;
    font-size: 18pt;
}
.neobavljeno {
    text-decoration: none;
    color: black;
}
.obavljeno {
    text-decoration: line-through;
    color: grey;
}
i:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.5);
    transition: 0.2s;
}
p:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.2s;
}
.divFlex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    width: 50%;
}
@media (max-width: 900px) { 
    #container {
        width: 80%;
    }

    button {
        margin-top: 10px;
    }
}